@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #EBE9E6;
  font-family: Spectral;
}

.title {
  font-size: 50px;
  font-family: "Libre Caslon Display";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  max-width: 30%;
  margin: 60px;
}
.header__title {
  color: #0C0A07;
}
.header__navigation {
  margin-bottom: 90px;
}
.header__menu {
  max-width: 80%;
  margin-left: 15%;
  margin-right: 15%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Libre Caslon Display";
}
.header__link {
  color: #0C0A07;
  padding: 20px;
  text-decoration: none;
}
.header__link:hover {
  background-color: #836724;
  color: white;
  border-radius: 30px;
}

.medals {
  margin: 30px;
}

.medals__image {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.about {
  margin-top: 90px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 60%;
  font-size: 24px;
  text-align: center;
}

.profiles {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 70%;
  gap: 90px;
  margin-top: 90px;
  margin-bottom: 90px;
}

.profiles__h3 {
  font-size: 30px;
}

.simon,
.sarka {
  text-align: center;
  line-height: 70%;
}

.simon img,
.sarka img {
  width: 300px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: rgba(64, 123, 255, 0.1215686275) 0 4px 6px;
}

.footer {
  margin-top: 60px;
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #836724;
  color: white;
}

/*Grid Judges*/
.judges {
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  grid-auto-flow: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  justify-items: center;
  align-items: start;
}

/*Nastylování stránky Judges*/
.judges {
  gap: 30px;
}

.judges__image {
  max-width: 400px;
}

.judges__text {
  font-size: 20px;
}

.expertise {
  font-style: italic;
  margin: 0;
}

.judges__h3 {
  font-size: 30px;
  margin: 10px;
  margin-left: 0;
}

/*Grid Partners*/
.partners {
  margin-top: 90px;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  grid-auto-flow: row;
  row-gap: 30px;
  justify-items: center;
  align-items: baseline;
}

/*Nastylování stránky Take Part*/
.takepart__para {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-width: 1.5px;
  font-size: 20px;
}

.categories {
  -moz-column-count: 3;
       column-count: 3;
  margin-top: 0;
  margin-left: 60px;
  margin-bottom: 30px;
}

/*Nastylování stránky Results*/
.results__para {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

/* Tablet 1200px a méně */
@media screen and (max-width: 1200px) {
  .header__logo {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 90px;
  }
  .header__menu {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 0;
    font-size: 50px;
  }
  .header__link {
    padding: 10px;
    color: white;
  }
  .header__list {
    width: 70%;
    margin: 22.5px;
    background-color: #836724;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
  }
  .medals__image {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .about {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .categories {
    -moz-column-count: 2;
         column-count: 2;
    margin: 30px;
  }
}
/* Mobil 750px a méně */
@media screen and (max-width: 750px) {
  header__menu {
    font-size: 30px;
  }
  header__list {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */